@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100% !important;
    min-height: 100vh !important;
    overflow-x: hidden !important;
    overflow-y: auto !important; 
    margin: 0 !important; 
    padding: 0 !important;
    background-color: #ffffff !important;
}

body {
    width: 100% !important;
    min-height: 100vh !important;
    overflow-x: hidden !important; 
    overflow-y: auto !important; 
    margin: 0 !important; 
    padding: 0 !important;
    background-color: #ffffff !important;
}

#root {
    width: 100% !important;
    min-height: 100vh !important;
    overflow: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffffff !important;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}